########################################
# Creality K2 Pro / K2 Plus
# Screws Tilt Adjust for Klipper
# Verified screw coordinates: 2026-03-17
# Bed size: 300x300
########################################

[screws_tilt_adjust]
screw1: 28,28
screw1_name: front_left
screw2: 272,28
screw2_name: front_right
screw3: 272,272
screw3_name: rear_right
screw4: 28,272
screw4_name: rear_left
horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

[gcode_macro LEVEL_BED_SCREWS]
description: Run screws tilt calibration for Creality K2 Pro
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    SCREWS_TILT_CALCULATE
